<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign in</title>
</head>

<body>
    <div class="container">

        <div id="signinwrap">
            <label for="username">User Name</label>
            <input name="username" type="text" id="username">
            <label for="pwd">Password</label>

            <input name="pwd" type="text" id="pwd">
            <button type="submit">Sign In</button>
        </div>



    </div>
</body>

</html>