.center {
    margin-left: 40%;
    margin-top: 25%;
}

body {
    background-color: lightgray;
}

.tabs {}

.tab {
    width: 20%;
    display: inline-block;
    background-color: steelblue;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    align-content: center;
    text-align: center;
    color: white;
    font-size: xx-large;
}
.submit{
    color: white;
    background-color: navy;
    padding:10px;
    margin-left: 50%;
    align-self: center;
    font-size:larger;

}