<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign in</title>
    <link rel="stylesheet" href="../style/signin.css">
    <script src="../js/userinputvalidations.js"></script>
    <script>
        /*Hide register form and display sign in form*/
        function hideRegister() {
            document.getElementById('regwrap').style = "display:none";
            document.getElementById('signinwrap').style = "display";

        }
        /*
         *Hide Sign in Form and display register form
         */
        function hideSignin() {
            document.getElementById('signinwrap').style = "display:none";
            document.getElementById('regwrap').style = "display";

        }
    </script>
</head>

<body>
    <div class="container">
        <div class="center" id="mainwrap">
            <div class="tabs">
                <div class="tab" onclick="hideRegister()">Sign In</div>
                <div class="tab" onclick="hideSignin()">Register</div>
            </div>
            <div id="signinwrap">
                <table>
                    <tr>
                        <td>
                            <label for="username">User Name or Email</label>
                        </td>
                        <td>
                            <input name="username" type="text" id="username">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="pwd">Password</label>
                        </td>
                        <td>
                            <input name="pwd" type="password" id="pwd">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button class="submit" type="submit" onclick="signin('username','pwd')">Sign In</button>

                    </tr>
                    <tr>
                        <td colspan="2">
                            <div id="errormsg"></div>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="regwrap" style="display:none">
                <table>
                    <tr>
                        <td>
                            <label for="username">User Name</label>
                        </td>
                        <td>
                            <input name="username" type="text" id="username">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="email">Email</label>
                        </td>
                        <td>
                            <input name="email" type="text" id="email">
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="pwd">Password</label>
                        </td>
                        <td>
                            <input name="pwd" type="password" id="pwd">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="pwd2">Enter Password Again</label>
                        </td>
                        <td>
                            <input name="pwd2" type="password" id="pwd2">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button class="submit" type="submit">Register</button>
                        </td>

                    </tr>
                    <tr>
                        <td colspan="2">
                            <div id="errormsg"></div>
                        </td>

                    </tr>
            </div>
        </div>

    </div>
</body>

</html>